
/* NAV  */
/*  
    High Score link purple before and after click 
    will be on the left side of the nav bar need to
    float or add padding right 
*/


/* 
   timer is black 
   top right hand corner needs padding or float 
   look into positioning 
*/

#timer{
    color: black 
}

button{
    background-color:  #FF7F50 ;
    color: #F0FFFF; 
    border-radius: 4px;
    border-color: #A52A2A;
    font:italic;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}

/* Main  */
/* 
center and make it realtive for the objects inside to react 
*/
main {
    position: relative;
}
/* Section  */
/* Article 1  Quiz Intro*/
/*  
    center the content 
    needs a display toggle: none/block
    button background style 
    button white text
*/
#intro{
    text-align: center;
}

#startBtn{
    background-color:  #FF7F50 ;
    color: #F0FFFF; 
    border-radius: 4px;
    border-color: #A52A2A;
    font:italic;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}


/* Article 2 Quiz */
/*  
    center content 
    buttons purple background 
    buttons white text 

    Right/Wrong p tag 
    italic 
    toggle display 


*/
#quiz{
    display:none;
}
/* button{
    background-color:  #FF7F50 ;
    color: #F0FFFF; 
    border-radius: 4px;
    border-color: #A52A2A;
    font:italic;
    font-family: 'Courier New', Courier, monospace;
} */

/* Article 3  Score form */
/*  
    center text content 
    button styling 

*/
#form{
    display:none;
}
#hSSubmit{
    background-color:  #FF7F50 ;
    color: #F0FFFF; 
    border-radius: 4px;
    border-color: #A52A2A;
    font:italic;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}
.answers {
    list-style-position: inside;
}

/* Article 4  Highscore List */
/*  
    il background light 
*/

#scores {
    display: none;
}


.hSBtn{
    background: #FF7F50 ;
    color: #F0FFFF; 
    padding: 5px;
    border-radius: 4px;
    border-color: #A52A2A;
    font:italic;
    font-family: 'Verdana', Geneva, Tahoma, sans-serif;
}